<!-- site footer - used on every page -->
<div class="sticky-footer">
    <footer class="grid-x grid-container">
        <div class="cell footer__logos">
            <a href="https://www.know-center.tugraz.at/" class="footer__logo-link">
                <span class="show-for-sr">{{ site.data.lang.link_know-center }}</span>
                <svg class="logo logo_know-center" viewbox="0 0 481 82" aria-hidden="true">
                    <use xlink:href="{{ site.baseurl }}/img/logos/logos.svg#logo_know-center"></use>
                </svg>
            </a>
            <a href="http://www.http://www.open.ac.uk/" class="footer__logo-link">
                <span class="show-for-sr">{{ site.data.lang.link_open-university }}</span>
                <svg class="logo logo_open-university" viewbox="0 0 300 164" aria-hidden="true">
                    <use xlink:href="{{ site.baseurl }}/img/logos/logos.svg#logo_open-university"></use>
                </svg>
            </a>
            <a href="https://www.https://www.tugraz.at/home/" class="footer__logo-link">
                <span class="show-for-sr">{{ site.data.lang.link_tu-graz }}</span>
                <svg class="logo logo_tu-graz" viewbox="0 0 454 200" aria-hidden="true">
                    <use xlink:href="{{ site.baseurl }}/img/logos/logos.svg#logo_tu-graz"></use>
                </svg>
            </a>
            <a href="https://www.uminho.pt/EN" class="footer__logo-link">
                <span class="show-for-sr">{{ site.data.lang.link_uminho }}</span>
                <svg class="logo logo_uminho" viewbox="0 0 254 33" aria-hidden="true">
                    <use xlink:href="{{ site.baseurl }}/img/logos/logos.svg#logo_uminho"></use>
                </svg>
            </a>
              <a href="https://www.sub.uni-goettingen.de" class="footer__logo-link">
                <span class="show-for-sr">{{ site.data.lang.link_sub }}</span>
                <svg class="logo logo_sub" viewbox="0 0 3544 1076" aria-hidden="true">
                    <use xlink:href="{{ site.baseurl }}/img/logos/logos.svg#logo_sub"></use>
                </svg>
            </a>
        </div>
        <div class="cell grid-x grid-container footer__links">
            <nav class="footer__nav cell small-12 medium-6">
                <ul class="menu simple">
                    {% assign pages=site.pages | where:"position", "bottom" %}
                    {% for item in pages %}
                    <li class="footer__nav-item {% if item.title == page.title %}active_footer{% endif %}">
                        <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.alt }}">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="footer__copyright cell small-12 medium-6">
                <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>
            </div>
        </div>
    </footer>
</div>
{% include piwik.html %}
