<nav class="grid-x grid-container grid-padding-x">
    <div class="logo-block cell medium-4 margin-top-2 margin-bottom-2 text-center">
        <a class="" href="{{ site.baseurl }}/">
            <span class="show-for-sr">Homepage</span>
            <img src="{{ site.baseurl }}/img/logos/logo_on-merrit.svg" alt="" aria-hidden="true">
        </a>
    </div>
    <div class="cell medium-8">
        <div class="tools">
            <div>
                <a class="" href="{{ site.baseurl }}/">HOME</a>
            </div>
            <form class="" action="https://www.google.com/search?" method="get" target="_blank" rel="noopener">
                <div class="input-group">
                    <label>
                        <span class="show-for-sr">Search</span>
                        <input type="text" name="q" value="" class="input-group-field" placeholder="Search">
                        <input type="hidden" name="sitesearch" value="on-merrit.eu">
                    </label>
                    <div class="input-group-button show-for-sr">
                        <input type="submit" class="button" value="Go">
                    </div>
                </div>
            </form>
        </div>
        <p class="claim">
            Open Science - who is left behind?
        </p>
        <div class="show-for-small-only menu--small">
            <div>
                <a href="#0" data-toggle="offCanvasLeft"><img src="{{ site.baseurl }}/img/icons/menu.svg" class="mainmenu__item-symbol" aria-hidden="true"> MENU</a>
            </div>
            <div>
                <a class="" href="{{ site.baseurl }}/">HOME</a>
            </div>
            <form class="search--small" action="https://www.google.com/search?" method="get" target="_blank" rel="noopener">
                <div class="input-group">
                    <label>
                        <span class="show-for-sr">Search</span>
                        <input type="text" name="q" value="" class="input-group-field" placeholder="Search">
                        <input type="hidden" name="sitesearch" value="on-merrit.eu">
                    </label>
                    <div class="input-group-button show-for-sr">
                        <input type="submit" class="button" value="Go">
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
