// http://codepen.io/chriscoyier/pen/uwJjr

/// Sticky Footer
.sticky-footer {
  background: url(../img/squares_bottom.svg) repeat-x bottom left;
  height: $sticky-footer-height;

  @include breakpoint(medium only) {
    height: ($sticky-footer-height * 1.5);
  }

  @include breakpoint(small only) {
    height: ($sticky-footer-height * 3);
  }
}

/// Sticky Footer
.sticky-footer__off-canvas-wrapper {
  flex: 1 0 auto;
}
