@import "vars";
@import "../node_modules/foundation-sites/scss/foundation";

// @include foundation-everything;
// @include foundation-xy-grid-classes;

// @import "foundation";
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
// @include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
@include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
@include foundation-table;
@include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
// @include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

@import "utils";
@import "featurebox";
@import "nav";
@import "footer";
@import "sticky-footer";
@import "base";
@import "main";
@import "logo";
@import "team";
@import "claim";

table.small-stack {
  @include breakpoint(small only) {
    @include table-stack;
  }
}

.active_footer,
.active_language {
  font-weight: 600;
}

.tools {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  @extend .margin-top-2;

  div:first-of-type {
    flex-shrink: 0;
  }

  form {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 16px;
    width: 30%;

    input[type="submit"] {
      background-color: transparent;
    }
  }

  .input-group {
    margin-bottom: 0;
  }

  @include breakpoint(small only) {
    display: none;
  }
}

.languageswitch {
  display: inline;

  @extend .margin-left-2;
}

.menu--small {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  form {
    padding-top: 16px;
    width: 100%;
  }
}

.search--small label {
  width: 100%;
}

.img--decoration-blue {
  img {
    border-bottom: 5px solid $metrics-blue;
  }
}

.img--decoration-purple {
  img {
    border-bottom: 5px solid $metrics-purple;
  }
}

.img--decoration-orange {
  img {
    border-bottom: 5px solid $metrics-orange;
  }
}

.img--decoration-grey {
  img {
    border-bottom: 5px solid $metrics-grey;
  }
}

.logo-block {
  display: flex;
  align-items: center;

  img {
    max-width: 100%;
  }
}


.home-last-block {
  margin: 0 !important;
}
